.container {
  text-align: center;
  margin: 100px auto;
  height: 60vh;
  width: 80vw;
  border: 5px solid black;
  border-radius: 10px;
  background-color: beige;
  font-size: 1.5rem;
  font-weight: 700;
}
